/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    background:url(../img/grama.jpg) no-repeat center top;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:none;
    width:100%;
}

/* Portrait layout (default) */
.app {
    padding-top: 50%;
    text-align: center;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
    background-position: center;
    padding: 20px 0px 0px 100px;
    margin: 0px 0px 0px -100px;
    }
}

.textorelogio {
    font-size:30px;
    font-weight:600;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: #FFF;
    margin-bottom: 20px;
    margin-top: 20px;
    font-style: oblique;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.footer{
    background-color: #000000;
    color: #fff;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.btn{
    font-size: 18px;
    background: transparent;
    border: 0px;
    color: #fff;
}

ul {
 margin:0px;
 padding: 0px;

}

#sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    transition: all 500ms linear;
    left: -200px;
}

#sidebar.active{
    left: 0px;
}


#sidebar ul li {
    color:rgba(230,230,230,0.9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100,100,100,1.0);
    text-align: center;
}

#sidebar .toggle-btn{
    position: absolute;
    left: 215px;
    top: 15px;
}


#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background: #e4e4e4;
    margin: 5px 0px;
}

.relogio{
     padding: 10px; 
     border-radius: 3px; 
     background: rgba(13,13,14,0.5); 
     display: inline-block;  
     padding-bottom: initial;
     color: #fff;
}

.numero{
    padding: 10px;
    border-radius: 3px;
    background: #c4ce3d;
    display: inline-block;
}

.texto{
    font-size: 16px;
    padding-top: 0px;
}